:root {
  /* COLORS */

  /* background color */
  --bg-dark-purple: hsla(260, 62%, 11%, 1);
  --bg-russian-violet: hsla(259, 61%, 14%, 1);
  --bg-vivid-violet: hsla(273, 100%, 55%, 1);
  --bg-sunglow: hsla(43, 100%, 61%, 1);
  --bg-blue-jeans: hsla(202, 100%, 50%, 1);
  --bg-white-alpha-10: hsla(0, 0%, 100%, 0.1);

  /* text color */
  --text-white: hsla(0, 0%, 100%, 1);
  --text-black: hsla(0, 0%, 0%, 1);
  --text-sunglow: hsla(43, 100%, 61%, 1);
  --text-white-alpha-60: hsla(0, 0%, 100%, 0.6);

  /* border color */
  --border-blue-jeans: hsla(202, 100%, 50%, 1);
  --border-white-alpha-10: hsla(0, 0%, 100%, 0.1);

  /* TYPOGRAPHY */

  /* font family */
  --fontFamily-open-sans: "Nunito", serif;

  /* font size */
  --fontSize-1: 4rem;
  --fontSize-2: 3.2rem;
  --fontSize-3: 2.4rem;
  --fontSize-4: 2rem;
  --fontSize-5: 1.8rem;
  --fontSize-6: 1.6rem;
  --fontSize-7: 1.4rem;

  /* font weight */
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semiBold: 600;
  --weight-bold: 700;

  /* SPACING */
  --section-spacing: 100px;

  /* BOX SHADOW */
  --shadow-1: drop-shadow(0 20px 30px hsla(0, 0%, 0%, 0.1));
  --shadow-2: drop-shadow(0 20px 30px hsla(0, 0%, 0%, 0.2));

  /* BORDER RADIUS */
  --radius-24: 24px;
  --radius-40: 40px;
  --radius-pill: 500px;

  /* TRANSITION */
  --transition-1: 250ms ease;
  --transition-2: 500ms ease;
  --cubic-out: cubic-bezier(0, 1, 0.5, 1);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  font-family: var(--fontFamily-open-sans);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", serif;
  padding: 20px;
  background-color: var(--bg-dark-purple);
  color: var(--text-white);
  font-size: var(--fontSize-6);
  line-height: 1.8;
  margin: 0;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: var(--text-white);
  font-size: 2.5rem;
}

.container {
  max-width: 1200px;
  margin: 50px auto;
  padding: 40px 20px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: all 0.3s ease;
}

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  border-bottom: 1px solid #ddd;
}

.form-group label {
  flex: 2;
  margin-right: 20px;
}

.form-group .disease-label {
  font-size: 1.8rem;
  font-weight: bold;
}

.form-group .radio-group {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.radio-buttons-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.radio-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.radio-button__input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.radio-button__label {
  display: inline-block;
  padding-left: 30px;
  margin-bottom: 10px;
  position: relative;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.radio-button__custom {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #555;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.radio-button__input:checked + .radio-button__label .radio-button__custom {
  transform: translateY(-50%) scale(0.9);
  border: 5px solid #4c8bf5;
  color: #4c8bf5;
  box-shadow: 0 0 15px #4c8bf5, 0 0 20px #4c8bf5, 0 0 35px #4c8bf5;
}

.radio-button__input:checked + .radio-button__label {
  color: #4c8bf5;
}

.radio-button__label:hover .radio-button__custom {
  transform: translateY(-50%) scale(1.2);
  border-color: #4c8bf5;
  box-shadow: 0 0 10px #4c8bf580;
}

.form-group input[type="radio"] {
  margin-right: 5px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  height: 10vh;
}

.pagination .page-btn {
  text-align: center;
  width: 150px;
  padding: 10px 20px;
  margin: 8px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.8rem;
  transition: 0.3s, color 0.3s;
  box-sizing: border-box;
  transform: scale(0.9);
  transform-origin: center;
  background: transparent;
  color: var(--text-white);
  cursor: pointer;
}

.pagination .page-btn:hover {
  transform: scale(1);
  border: 3px solid;
  border-color: #4c8bf5;
  box-shadow: 0 0 25px #4c8bf580;
  color: white;
}

.pagination .page-btn.disabled {
  color: #6c6c6c;
  border-color: #6f6f6f;
  pointer-events: none;
}

.submit-btn {
  font-family: "Nunito", serif;
  font-weight: 600;
  background-color: #006de1;
  width: 150px;
  padding: 10px 20px;
  margin: 10px 10px;
  border: 1px solid #006de1;
  border-radius: 5px;
  font-size: 1.8rem;
  transition: 0.3s, color 0.3s;
  box-sizing: border-box;
  transform: scale(0.9);
  transform-origin: center;
  cursor: pointer;
}

.submit-btn:hover {
  transform: scale(1);
  background-color: #002c5a;
  box-shadow: 0 0 25px #4c8bf580;
  color: white;
  border: 3px solid #006de1;
}

.page-info {
  text-align: center;
  margin-bottom: 40px;
  font-size: 1.5rem;
  color: var(--text-white);
}
