<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form Diagnosis</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
      rel="stylesheet" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}" />
  </head>
  <body>
    <div class="container">
      <h1>Form Diagnosa Penyakit</h1>

      <!-- Menampilkan informasi halaman -->
      <div class="page-info">Halaman {{ page }} dari {{ total_pages }}</div>

      <!-- Form Diagnosa -->
      <form action="{{ url_for('diagnose_route') }}" method="POST">
        {% for gejala_code, gejala_name in symptoms %}
        <div class="form-group">
          <label
            for="{{ gejala_code }}"
            class="disease-label {{ gejala_code }}">
            {{ loop.index + (page - 1) * items_per_page }}. Merasakan {{
            gejala_name }} ?
          </label>

          <div class="radio-buttons-container">
            {% for value, label in [(0, 'Tidak ada'), (1, 'Sangat Ringan'), (2,
            'Ringan'), (3, 'Cukup'), (4, 'Berat'), (5, 'Sangat Berat')] %}
            <div class="radio-button">
              <input name="{{ gejala_code }}" id="{{ gejala_code }}-radio{{
              value }}" class="radio-button__input" type="radio" value="{{ value
              }}" {% if request.form[gejala_code] == value|string %} checked {%
              endif %} />
              <label
                for="{{ gejala_code }}-radio{{ value }}"
                class="radio-button__label">
                <span class="radio-button__custom"></span>
                {{ label }}
              </label>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endfor %}

        <input type="hidden" name="previous_data" value="{{ session.get('user_data', '') }}" />

        <!-- Menampilkan tombol Previous dan Next -->
        <div class="pagination">
          {% if page > 1 %}
          <a href="{{ url_for('index', page=page-1) }}">Kembali</a>
          {% else %}
          <a href="#" class="disabled">Kembali</a>
          {% endif %} {% if page < total_pages %}
          <a href="{{ url_for('index', page=page+1) }}">Berikutnya</a>
          {% else %}
          <!-- Gantikan tombol Next dengan tombol Submit pada halaman terakhir -->
          <button type="submit">SUBMIT</button>
          {% endif %}
        </div>
      </form>
    </div>
  </body>
</html>
