<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navbar Toggle</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/start.css') }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
      rel="stylesheet" />
  </head>
  <body>
    <!-- Header -->
    <header class="header">
      <div class="container">
        <a href="#" class="logo">SiPaKuLer</a>

        <!-- Overlay untuk menutup navbar di perangkat mobile -->
        <div class="overlay" data-overlay></div>
      </div>
    </header>

    <main>
      <article>
        <!-- HERO -->
        <section class="section hero" id="home" aria-label="hero">
          <div class="container">
            <div class="hero-content">
              <h1 class="h1 title hero-title">
                Diagnosa Penyakit Kardiovaskular
              </h1>

              <p class="hero-text">
                Periksa kesehatan jantung Anda dengan mudah dan cepat. Mulai
                diagnosa sekarang untuk mendapatkan gambaran kondisi
                kardiovaskular Anda secara akurat!
              </p>

              <div class="input-wrapper">
                <a href="/diagnosa" class="btn btn-primary"
                  >Periksa Sekarang!</a
                >
              </div>
            </div>
          </div>
        </section>

        <!-- ----- ABOUT ----- -->

        <!-- Pengertian -->
        <section
          class="section pengertian text-center"
          id="about"
          aria-labelledby="pengertian-label">
          <div class="container">
            <figure class="pengertian-banner">
              <img
                src="{{ url_for('static', filename='image/think.png') }}"
                width="734"
                height="854"
                loading="lazy"
                alt="Ilustrasi tentang penyakit kardiovaskular" />
            </figure>

            <div class="pengertian-content">
              <h2 class="h2 title section-title" id="pengertian-label">
                Apa itu Penyakit Kardiovaskular?
              </h2>
              <p class="section-text">
                Penyakit kardiovaskular adalah kelompok gangguan pada jantung
                dan pembuluh darah yang meliputi penyakit jantung koroner,
                penyakit arteri perifer, dan kondisi lain yang terkait. Penyakit
                ini dapat menyebabkan komplikasi serius seperti serangan jantung
                dan stroke. Penting untuk menjaga kesehatan jantung melalui pola
                makan sehat, olahraga, dan pemeriksaan rutin.
              </p>
            </div>
          </div>
        </section>

        <!-- Penyakit -->
        <section
          class="section penyakit text-center"
          aria-labelledby="penyakit-label">
          <div class="container">
            <h2 class="h2 title section-title">
              Jenis-Jenis Penyakit Kardiovaskular
            </h2>

            <p class="section-text">
              Beberapa penyakit yang termasuk penyakit kardiovaskular yaitu
              sebagai berikut
            </p>

            <ul class="grid-list">
              <li>
                <div class="card">
                  <img
                    src="{{ url_for('static', filename='image/penyakit-1.jpg') }}"
                    alt="Card Image" />
                  <div class="card-content">
                    <h2>Aritmia</h2>
                    <p>
                      Aritmia adalah gangguan ritme jantung yang menyebabkan
                      detak jantung tidak teratur akibat masalah pada sistem
                      konduksi listrik jantung
                    </p>
                  </div>
                </div>
              </li>

              <li>
                <div class="card">
                  <img
                    src="{{ url_for('static', filename='image/penyakit-2.png') }}"
                    alt="Card Image" />
                  <div class="card-content">
                    <h2>Gagal Jantung Kongestif</h2>
                    <p>
                      Gagal Jantung Kongestif adalah kondisi kronis dimana
                      jantung tidak dapat memompa darah dnegan efektif, sehingga
                      cairan menumpuk di paru-paru dan tubuh
                    </p>
                  </div>
                </div>
              </li>

              <li>
                <div class="card">
                  <img
                    src="{{ url_for('static', filename='image/penyakit-3.png') }}"
                    alt="Card Image" />
                  <div class="card-content">
                    <h2>Jantung Bawaan</h2>
                    <p>
                      Jantung Bawaan merupakan kelaian struktural jantung yang
                      sudah ada sejak lahir, sering karena perkembangan yang
                      tidak sempurna saat janin
                    </p>
                  </div>
                </div>
              </li>

              <li>
                <div class="card">
                  <img
                    src="{{ url_for('static', filename='image/penyakit-4.png') }}"
                    alt="Card Image" />
                  <div class="card-content">
                    <h2>Gangguan Pembuluh Darah</h2>
                    <p>
                      Gangguan pembuluh darah mempengaruhi arteri dan vena,
                      menghambat aliran darah ke ekstremitas, memicu komplikasi
                      akibat terganggunya aliran darah.
                    </p>
                  </div>
                </div>
              </li>

              <li>
                <div class="card">
                  <img
                    src="{{ url_for('static', filename='image/penyakit-5.png') }}"
                    alt="Card Image" />
                  <div class="card-content">
                    <h2>Penyakit Katup Jantung</h2>
                    <p>
                      Penyakit Katup Jantung melibatkan gangguan pada katup
                      jantung yang dapat menyebabkan penghambatan pada aliran
                      darah melalui jantung
                    </p>
                  </div>
                </div>
              </li>

              <li>
                <div class="card">
                  <img
                    src="{{ url_for('static', filename='image/penyakit-6.png') }}"
                    alt="Card Image" />
                  <div class="card-content">
                    <h2>Jantung Koroner</h2>
                    <p>
                      Jantung Koroner terjadi akibat penyempitan atau
                      penyumbatan pada arteri koroner yang mengurangi aliran
                      darah ke otot jantung
                    </p>
                  </div>
                </div>
              </li>

              <li id="center-card">
                <div class="card">
                  <img
                    src="{{ url_for('static', filename='image/penyakit-7.png') }}"
                    alt="Card Image" />
                  <div class="card-content">
                    <h2>Kardiomiopati</h2>
                    <p>
                      Kardiomiopati adalah penyakit jantung yang disebabkan oleh
                      kelainan pada otot jantung, sehingga jantung kesulitan
                      memompa darah ke seluruh tubuh.
                    </p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </section>
      </article>
    </main>

    <!-- Script untuk Navbar Toggle -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    <!-- ionicon -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </body>
</html>
